---
import { type CollectionEntry, getCollection } from 'astro:content';
import PostComment from '../../components/PostComment.astro';
import BlogLayout from '../../layouts/BlogLayout.astro';

interface Props {
	entry: CollectionEntry<'posts'>;
}

export async function getStaticPaths() {
	const work = await getCollection('posts');
	return work.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BlogLayout title={entry.data.title} description={entry.data.summery} keywords={entry.data.keywords}>
    <div class="w-full">
        <div class="container px-6">
            <article class="my-32 prose prose-lg prose-invert container">
                <Content />
                <PostComment />
            </article>
        </div>
    </div>
</BlogLayout>

<style>
    html, body {
        overflow-x: hidden;
    }

    div.remark-code-title {
        width: fit-content;
        @apply bg-[#0b0e14] -mb-7;
        padding-inline: 10px;
        padding-block: 10px;
        border-radius: 10px;
        font-size: 14px;
    }
</style>