@import "tailwindcss";

@theme {
    --foreground: #000;
    --background: #FFFAFA;
    --font-sans: 'Reddit Sans', sans-serif;
    --color-foreground-muted: #6B7280;
}

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'devicon';
    src: url('https://cdn.jsdelivr.net/gh/devicons/devicon@2.16.0/fonts/devicon.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
