@import "tailwindcss";

@plugin "tailwindcss-motion";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Raleway Variable";
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
