@import "tailwindcss";

@theme {
    --foreground: #000;
    /* --background: #FFFAFA; */
    --font-sans: 'Reddit Sans', sans-serif;
    --color-foreground-muted: #6B7280;
}

html {
    scroll-behavior: smooth;
}