@import "tailwindcss";

@plugin "@tailwindcss/typography";

@utility container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

body {
  background-color: #F8F9FF;
}
