@import "tailwindcss";

@theme {
    --foreground: #000;
    --background: #FFFAFA;
    --font-sans: 'Inter', sans-serif;
    --color-foreground-muted: #6B7280;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
}