---
import '@fontsource-variable/dm-sans';
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import LoadingIndicator from "astro-loading-indicator/component"

interface Props {
	title: string;
	description?: string,
	keywords?: string[]
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<slot name="meta" />
		<meta name="description" content={description}>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-QJ7KVTTN9F"></script>
		{keywords && <meta name="keywords" content={keywords.join(",")}>}
		
		<script is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-QJ7KVTTN9F');
		</script>
		
		<ViewTransitions />
		<LoadingIndicator color='purple'/>
	</head>
	<body class="bg-slate-900 text-slate-200 bg-gradient-to-bl from-[4%] from-blue-950 via-slate-900 to-slate-900 bg-no-repeat antialiased transition" >
		<Header />
		<slot class="min-w-[100vw]"/>
	</body>
</html>

<style is:global>
	body {
  		font-family: 'DM Sans Variable', sans-serif;
	}
</style>