---
import '@fontsource-variable/dm-sans';
import Header from '../components/Header.astro';
import { ViewTransitions } from 'astro:transitions';
import LoadingIndicator from "astro-loading-indicator/component"
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description?: string
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<slot name="meta" />
		<meta name="description" content={description}>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-QJ7KVTTN9F"></script>
		<script is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-QJ7KVTTN9F');
		</script>
		<link slot="meta" rel="canonical" href="https://happer64bit.vercel.app" />
		
		<ViewTransitions />

		<LoadingIndicator color='purple'/>
	</head>
	<body class="bg-slate-900 text-slate-200 bg-no-repeat antialiased transition" >
		<Header />
		<main class="my-16 px-4">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	body {
  		font-family: 'DM Sans Variable', sans-serif;
		cursor: url(/assets/Doge_Cursor.png), auto;
	}

	button, a {
		cursor: url(/assets/Doge_Pointer.png), pointer;
	}
</style>