---
import '@fontsource-variable/dm-sans';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script lang="javascript">
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:4961518,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
		<ViewTransitions fallback="swap"/>
	</head>
	<body class="bg-slate-900 text-slate-200 bg-gradient-to-bl from-[4%] from-blue-950 via-slate-900 to-slate-900 bg-no-repeat antialiased transition" >
		<slot class="min-w-[100vw]"/>
	</body>
</html>

<style is:global>
	body {
  		font-family: 'DM Sans Variable', sans-serif;
	}
</style>